/* general */

body{
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

/* common */
h1{
  font-weight: bolder;
  font-size: 1.6em;
}

h2{
  font-weight: bolder;
  font-size: 1.42em;
}

h3{
  font-weight: bolder;
  font-size: 1.24em;
}

h4{
  font-weight: bolder;
  font-size: 1.06em;
}

h5{
  font-weight: bolder;
  font-size: .88em;
}

h6{
  font-size: 14px;
  font-weight: bolder;
}

p{
  font-weight: 500;
}

.text-white{
  color: #fff;
}

.text-blue{
  color: #006AFF;
}

.text-grey{
  color: #5C6A88;
}


.btn-white{
  background-color: #fff!important;
  color: #2386FD!important;
  font-weight: bold!important;
  border: 1px solid #2386FD;
  border-radius: 5px;
}

.btn-blue{
  background-color: #579AFF;
  color: #fff;
}

.btn-small{
  padding: 7px 14px;
}

.btn-white:hover{
  background-color: #2386FD!important;
  color: #fff!important;
}

.card{
  background-color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

}

::placeholder{
  font-weight: bold;
}

.icon-small{
  height: 28px;
}

.note{
  font-size: 12px;
  font-weight: bolder;
}

.note a{
  text-decoration: underline;
}

.mt-xs-50{
  margin-top: 50px;
}

.mt-xs-20{
  margin-top: 20px;
}

.mt-sm-20{
  margin-top: 20px;
}
/* header navbar */
.navbar{
  margin-bottom: 0;
  background-color: #fff;
}

.navbar-fixed-top .navbar-collapse{
  max-height: 370px;
}

.navbar .navbar-toggle{
  margin-top: 11px;
}
.navbar .navbar-toggle span{
  background-color: #2386FD;
  width: 20px;
  height: 3px;
}

.navbar-brand{
  height: auto;
}

.navbar-nav{
  padding: 10px 0;
}

.navbar li a{
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.navbar .logo{
  height: 29px;
  line-height: 50px;
}

.navbar li a:hover{
  color: #2386FD;
  background-color: #fff;
}

.navbar li a i{
  margin-left: 3px;
  color: #000;
}

/* header jumbo */
#jumbo{
  margin-top: 72px;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#jumbo form{
  padding: 0 20px;
}

#jumbo .card button{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

#jumbo .card button img{
  position: absolute;
  left: 0;
  top: 1px;
}

#jumbo .my-btn-default{
  color: #707070;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  background-color: #fff;
  /* box-shadow: 5px 10px 8px #888888 */
}

/* main partners */
#partners{
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #F3F5F9;
}

#partners h6{
  color: #5b6987;
}

#partners .logo{
  width: 70%;
}

/* main deploy */
#deploy{
  padding-top: 50px;
  padding-bottom: 50px;
}

#deploy ul{
padding-left: 0;
}

#deploy ul li{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  border-left: 2px solid lightgrey;
  padding: 10px 0;
  padding-left: 10px;
}

#deploy h5 + p{
  font-size: 16px;
}

@media all and (min-width:768px) {
  .container{
    width: 96%;
  }

  .mt-sm-50{
    margin-top: 50px;
  }

  .mt-sm-20{
    margin-top: 20px;
  }

  .navbar .navbar-brand{
    padding-top: 18px;
  }

  .navbar-toggle {
    display: block;
    left: 500px;
  }

  .navbar-collapse.collapse{
    display: none!important;
  }

  #partners .logo {
    width: 100%;
  }

  #deploy .container-special{
    width: 80%;
  }
}

@media all and (min-width: 992px) {
  .container{
    width: 70%;
  }

  .navbar-toggle {
    display: none!important;
    left: 0;
  }

  .navbar-collapse.collapse{
    display: block!important;
  }

}
