/* common */

body{
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

h1{
  font-weight: bolder;
  font-size: 1.6em;
}

h2{
  font-weight: bolder;
  font-size: 1.42em;
}

h3{
  font-weight: bolder;
  font-size: 1.24em;
}

h4{
  font-weight: bolder;
  font-size: 1.06em;
}

h5{
  font-weight: bolder;
  font-size: .88em;
}

h6{
  font-size: 14px;
  font-weight: bolder;
}

p{
  font-weight: 500;
}

.text-white{
  color: #fff;
}

.text-blue{
  color: #006AFF;
}

.text-grey{
  color: #5C6A88;
}


.btn-white{
  background-color: #fff!important;
  color: #2386FD!important;
  font-weight: bold!important;
  border: 1px solid #2386FD;
  border-radius: 5px;
}

.btn-blue{
  background-color: #579AFF;
  color: #fff;
}

.btn-small{
  padding: 7px 14px;
}

.btn-white:hover{
  background-color: #2386FD!important;
  color: #fff!important;
}

.card{
  background-color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

}

::placeholder{
  font-weight: bold;
}

.icon-small{
  height: 28px;
}

.note{
  font-size: 12px;
  font-weight: bolder;
}

.note a{
  text-decoration: underline;
}

.mt-xs-10{
  margin-top: 10px;
}


.mt-xs-20{
  margin-top: 20px;
}

.mt-xs-25{
  margin-top: 25px;
}

.mt-xs-50{
  margin-top: 50px;
}

.mt-xs-100{
  margin-top: 100px;
}

.pallini a{
  padding: 4px;
  border: 1px solid #006AFF;
  border-radius: 50%;
  display: inline-block;
}

.normal{
  font-weight: 300;
}

/* header navbar */
.navbar{
  margin-bottom: 0;
  background-color: #fff;
}

.navbar-fixed-top .navbar-collapse{
  max-height: 370px;
}

.navbar .navbar-toggle{
  margin-top: 11px;
}
.navbar .navbar-toggle span{
  background-color: #2386FD;
  width: 20px;
  height: 3px;
}

.navbar-brand{
  height: auto;
}

.navbar-nav{
  padding: 10px 0;
}

.navbar li a{
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.navbar .logo{
  height: 29px;
  line-height: 50px;
}

.navbar li a:hover{
  color: #2386FD;
  background-color: #fff;
}

.navbar li a i{
  margin-left: 3px;
  color: #000;
}

/* header jumbo */
#jumbo{
  margin-top: 72px;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#jumbo form{
  padding: 0 20px;
}

#jumbo .card button{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

#jumbo .card button img{
  position: absolute;
  left: 0;
  top: 1px;
}

#jumbo .my-btn-default{
  color: #707070;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  background-color: #fff;
  /* box-shadow: 5px 10px 8px #888888 */
}

/* main partners */
#partners{
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #F3F5F9;
}

#partners h6{
  color: #5b6987;
}

#partners .logo{
  width: 70%;
}

/* main deploy */
#deploy{
  padding-top: 50px;
  padding-bottom: 50px;
}

#deploy ul{
padding-left: 0;
}

#deploy ul li{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  border-left: 2px solid lightgrey;
  padding: 10px 0;
  padding-left: 10px;
}

#deploy h5 + p{
  font-size: 16px;
}

/* main developers */
#developers{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F3F5F9;
}

#developers i{
  display: none;
}

#developers img{
  height: 230px;
}

#developers span{
  font-size: 14px;
  font-weight: 700;
  display: block;
}


/* main features */
#features{
  padding-top: 50px;
  padding-bottom: 50px;
}

#features h5 + p{
  font-size: 16px;
}

/* main regions */
#regions{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(#0047C5, #001E99);
}

#regions table{
  width: 100%;
  font-weight: normal;
}

#regions table tr.line{
  border-bottom: 1px solid #fff;
}

#regions table td{
  padding-top: 10px;
  padding-bottom: 10px;
}

#regions table td.text-capitalize{
  font-weight: 300;
  text-align: left;
  padding-left: 20px;
}

#regions table a{
  font-weight: normal;
  color: #00D5D1;
  text-decoration: none;
}

#regions table a i{
  font-size: 8px;
  margin-left: 5px;
}

/* main teams */
#teams{
  background-color: #F3F5F9;
  padding-top: 50px;
  padding-bottom: 50px;
}

#teams i{
  display: none;
}

#teams .card{
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
}

#teams .card img{
  width: 100%;
}

#teams .card span{
  display: block;
}

#teams .card a{
  text-decoration: none;
}

#teams .card i{
  display: inline-block;
  font-size: 8px;
  margin-left: 5px;
}
/* main now */
#now{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(#0047C5, #001E99);
}

#now a{
  font-size: 14px;
}

/* footer links */
#links{
  background-color: #031C4E;
  padding-top: 50px;
  padding-bottom: 50px;
}

#links img{
  height: 50px;
}

#links span{
  display: block;
  margin-top: 5px;
}

#links social a{
  margin-right: 10px;
}

#links ul{
  list-style: none;
  padding-left: 0;
}

#links ul li{
  margin-top: 5px;
}

#links ul a{
  color: #fff;
  font-weight: 200;
  text-decoration: none;
}

/* footer help */
#help{
  position: fixed;
  left: 40px;
  bottom: 40px;
}

#help .icona{
  height: 50px;
  width: 50px;
  background-image: url(../img/shark.jfif);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
}

#help .badge{
  position: absolute;
  bottom: 38px;
  left: 38px;
  background-color: red;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  font-weight: 300;
  padding: 3px 6px;
}

#help .message{
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  position: relative;
}

#help .comic{
  height: 10px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  left: 295px;
  bottom: 10px;
  transform: rotate(45deg);
}

@media all and (min-width:768px) {
  /* common */
  .container{
    width: 96%;
  }

  .mt-sm-50{
    margin-top: 50px;
  }

  .mt-sm-20{
    margin-top: 20px;
  }

  /* header navbar */
  .navbar .navbar-brand{
    padding-top: 18px;
  }

  .navbar-toggle {
    display: block;
    left: 500px;
  }

  .navbar-collapse.collapse{
    display: none!important;
  }

  /* main partners */
  #partners .logo {
    width: 100%;
  }

  /* main deploy */
  #deploy .container-special{
    width: 80%;
  }

  /* main developers */
  #developers i{
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
  }

  /* main teams */
  #teams .card{
    width: 40%;
    display: inline-block;
    vertical-align: middle;
  }

  #teams .card img{
    width: 80%;
  }

  #teams i{
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
  }

}

@media all and (min-width: 992px) {
  /* common */
  .container{
    width: 70%;
  }

  .mt-md-0{
    margin-top: 0;
  }
  /* header navbar */
  .navbar-toggle {
    display: none!important;
    left: 0;
  }

  .navbar-collapse.collapse{
    display: block!important;
  }

  /* main teams */
  #teams .card img{
    width: 60%;
  }

  #help{
    position: fixed;
    display: inline-block;
    right: 40px;
    bottom: 40px;
  }

  #help .icona,
  #help .message{
    display: inline-block;
    margin-top: 0;
    float: right;
    margin-left: 20px;
  }
}
